<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courier Shop</title>
</head>
<body>
    <form action="/courier" method="post">
        <h2>What is the weight of your parcel? Write in KGs.</h2>
        <input type="text" name="parcelweight" id="" required>
        <button type="submit">Calculate Price</button>
        {{returnsentence}}
    </form>
</body>
</html>