<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encrypt and Decrypte - By Luke</title>
    <style>
        .container{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        form:last-child{
            padding-left: 600px;
        }
    </style>
</head>
<body>
    <div class = "container">
        <form action="/encrypt" method="post">
            <h2>Enter anything to encrypt it</h2>
            <input type="text" name="string" id="">
            <button type = "submit">Submit</button>
            <h2>{{encrypt}}</h2>
        </form>
        <form action="/decrypt" method="post">
            <h2>Enter anything to decrypt it</h2>
            <input type="text" name="string1">
            <button type="submit">Submit</button>
            <h2>{{decrypt}}</h2>
        </form>
    </div>
</body>
</html>