<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: blue;
        }
        p{
            border: solid;
            font-family: Arial, Helvetica, sans-serif;
            color: red;
        }
    </style>
</head>
<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facilis, dicta! Cupiditate itaque provident iste aspernatur tempora possimus aliquam quam! Nemo soluta saepe molestias nam quo? Eveniet suscipit nisi rem quos.</p>
</body>
</html>