{%extends "layout.html"%}
{%block content%}
<div class="dashboard">
    <div class="card" style="width: 35rem;">
        <img src="../static/numbers.png" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Biggest Among 3 Numbers</h5>
        <p class="card-text">Find out the biggest number from 3 numbers.</p>
        <a href="#" class="btn btn-primary">Biggest Number</a>
        </div>
    </div>
    <div class="card" style="width: 35rem;">
        <img src="../static/BMI.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">BMI Calculator</h5>
        <p class="card-text">Calculates your BMI, Fat percentage and Total Body Water.</p>
        <a href="#" class="btn btn-primary">BMI Calculator</a>
        </div>
    </div>
    <div class="card" style="width: 35rem;">
        <img src="../static/encrypt.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Encrypt</h5>
        <p class="card-text">Encrypt anything you type. Go to decrypt to decrypt the message.</p>
        <a href="#" class="btn btn-primary">Encrypt</a>
        </div>
    </div>
    <div class="card" style="width: 35rem;">
        <img src="../static/decrypt.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Decrypt</h5>
        <p class="card-text">Decrypts anything you type. Go to encrypt to encrypt a message.</p>
        <a href="#" class="btn btn-primary">Decrypt</a>
        </div>
    </div>
    <div class="card" style="width: 35rem;">
        <img src="../static/LeapYear.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Leap Year</h5>
        <p class="card-text">Write any year to check if it is a leap year.</p>
        <a href="#" class="btn btn-primary">Leap Year</a>
        </div>
    </div>
</div>
{%endblock%}