<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leap Year - By Luke</title>
</head>
<body>
    <form action="/leap_year" method="post">
        <h2>Enter any year to check if it is a leap year or not:</h2>
        <input type="number" name="year" min="1">
        <button type="submit">Submit</button>
        <h2>{{result}}</h2>
    </form>
</body>
</html>