<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users-Table</title>
</head>
<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Password</th>
            <th>Email</th>
        </tr>
        <tr>
            <td>{{session.get("username")}}</td>
            <td>{{session.get("password")}}</td>
            <td>{{session.get("email")}}</td>
        </tr>
    </table>
</body>
</html>